{
    email admin@diary.pw-new.club
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

diary.pw-new.club {
    encode gzip

    # Логи (опционально)
    log {
        output stdout
        format json
    }

    # Проксируем API-запросы на backend
    handle /api* {
        reverse_proxy backend:5000
    }

    # Все остальные запросы — на фронтенд
    handle {
        reverse_proxy frontend:80
    }
}

# TPW — канонизация домена: все запросы на pw.pw-new.club → pw-new.club
pw.pw-new.club {
    redir https://pw-new.club{uri}
}

# TPW — основной домен
pw-new.club {
    encode gzip

    # Логи (опционально)
    log {
        output stdout
        format json
    }

    # Контейнер TPW должен быть доступен в сети `web` под alias `weaver`
    reverse_proxy weaver:80
}